<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Title</title>
</head>
<body>
<footer class="section bg-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <img th:src="@{/images/logo.png}" alt="" style="width: 200px; height: 200px">
        <h6 class="text-uppercase text-white">Light Up Your Learning</h6>
      </div>
      <div class="col-lg-2">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Information</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><a href="">Pages</a></li>
            <li><a href="">Our Team</a></li>
            <li><a href="">Feuchers</a></li>
            <li><a href="">Pricing</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Ressources</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><a href="">Monitoring Grader </a></li>
            <li><a href="">Video Tutorial</a></li>
            <li><a href="">Term &amp; Service</a></li>
            <li><a href="">Zeeko API</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Help</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><a href="">Sign Up </a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Terms of Services</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
          <p class="contact-info mt-4">Contact us</p>
          <p class="contact-info">+1234567890</p>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center mt-5">
    <p class="footer-alt mb-0 f-14">2024 &copy; Education, All Rights Reserved</p>
  </div>
</footer>
</body>
</html>