*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: "Poppins", sans-serif;
}
.container-fluid{
    background-color: #F8F9FA;
}
.home{
    padding: 5rem;
}

.text{
    margin-left: 25px;
}
.btn {
    padding-top: 0;
    border-radius: 30px;
}
.services{
    border-radius: 20px;
    padding: 10px;
}

.services:hover{
    cursor: pointer;
    background-color: #62d5e7;
    transition: 0.8s all ease;
}