<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" />
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: #26547c">
                <div class="modal-header" style="justify-content: center; color: #FFFFFF">
                    <h4 class="modal-title" id="exampleModalLongTitle">Welcome!</h4>
                </div>
                <div class="modal-body text-center" style="color: #FFFFFF; font-weight: 400; font-size: larger">
                    <p th:text="${student.firstName}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-1" style="border-right: 6px solid #35969b;">
            <div class="row">
                <div>
                    <p th:text="Hii...  +  ${student.firstName}"></p>
                </div>
                <ul class="sidebar-nav">
                    <li class="active">
                        <a href="#"><i class="fa fa-home"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i>Exam</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i>Assignment</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i>Quiz</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-11">
            <div class="row" style="margin-top: -1%">
                <nav class="navbar navbar-light" style="background-color: #edfdfc">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#" style="display: flex; flex-direction: row;align-items: center">
                            <img src="/images/logo2.png" width="43" height="43" alt="">
                            <span style="font-weight: bolder; font-size: 25px; color: #35969b; font-family:Dancing Script, cursive;margin-left: 7px">EduSphere</span>
                        </a>
                        <div class="d-flex">
                            <div class="profile-pic">
                                <img th:src="${student.profileimage}" width="40" height="40" th:alt="Hii" alt="Profile Picture" class="rounded-pill">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <p th:text="${student.firstName}"></p>
                <div class="row m-5 justify-content-center">
                    <h3 style="margin-bottom: 20px">Your Courses:</h3>
                    <div class="grid-container">
                        <div th:each="course : ${student.courses}" class="col-xs-12 col-sm-12 col-md-3 mb-4">
                            <div class="card" style="width: 300px;">
                                <img th:src="${course.courseimage}" class="card-img-top" alt="Course Image" style="height: 170px">
                                <div class="card-body" style="height: 200px; overflow: auto; display: flex; flex-direction: column;">
                                    <h5 class="card-title" style="color: #5ed99b;" th:text="${course.coursename}"></h5>
                                    <p class="card-description" style="margin-left: auto" th:text="'-by ' + ${course.trainersname}"></p>
                                    <p class="card-text" style="content: inherit" th:text="${course.coursedetails}"></p>
                                </div>
                                <div class="card-footer d-flex justify-content-around" style="border-top: 1px solid #f3f3f3; background-color: white">
                                    <button class="btn mr-2" style="border-radius: 20px; background-color: #1acb9b; color: #FFFFFF"
                                            th:onclick="'courseDetails(\'' + ${course.coursename} + '\')'">Explore
                                    </button>
                                    <button class="btn btn-secondary" style="border-radius: 20px">
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button id="toggleButton">Toggle Iframe</button>
                <iframe id="myIframe" th:href="@{/students/chat}"
                        style="display: none; width: 100%; height: 500px; border: none;"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="footer mt-auto py-3 bg-light" style="height: 100%; width: 100%">
    <div th:insert="~{fragment/footer}"></div>
</div>
<script>
    const $button  = document.querySelector('#sidebar-toggle');
    const $wrapper = document.querySelector('#wrapper');

    $button.addEventListener('click', (e) => {
        e.preventDefault();
        $wrapper.classList.toggle('toggled');
    });
</script>
<script th:src="@{/js/main.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    const toggleButton = document.getElementById("toggleButton");
    const myIframe = document.getElementById("myIframe");

    toggleButton.addEventListener("click", function () {
        if (myIframe.style.display === "none") {
            myIframe.style.display = "block";
        } else {
            myIframe.style.display = "none";
        }
    });
</script>
<script>
    $(document).ready(function(){
        // Function to check if the user is logging in for the first time in the current session
        function isFirstLogin() {
            // Check if the "firstLogin" key exists in session storage
            return sessionStorage.getItem("firstLogin") === null;
        }

        // Function to set the "firstLogin" key in session storage
        function setFirstLogin() {
            // Set the "firstLogin" key in session storage to true
            sessionStorage.setItem("firstLogin", "true");
        }

        // Check if it's the user's first login in the current session
        if (isFirstLogin()) {
            // Show the modal
            $('#welcomeModal').modal('show');
            // Set the "firstLogin" key in session storage
            setFirstLogin();
            // Hide the modal after 3 seconds
            setTimeout(function(){
                $('#welcomeModal').modal('hide');
            }, 3000);
        }
    });
</script>
<script>
    function courseDetails(courseName) {
        window.location.href = "/courseDetails?courseName="
            + encodeURIComponent(courseName);
    }
</script>
</body>
</html>